@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overscroll-behavior-x: none;
}

:root {
  --color-table-grid: #eee;
  --color-table-change: #f6e58d;

  --color-table-cell-number: #2980b9;
  --color-table-cell-code: #95a5a6;

  --color-table-row-selected: #e4e6f1;
  --color-table-row-removed: #ff8b81;
  --color-table-row-new: #7bed9f;

  /* For Scroll */
  --color-scrollbar: #0001;
  --color-scrollbar-track: #0001;
  --color-scrollbar-hover: #0005;
}

@layer base {
  :root {
    --background: #fff;
    --foreground: #444;

    --color-surface: #fff;
    --color-surface-hover: #eee;

    --card: #fff;
    --card-foreground: #444;

    --popover: #fff;
    --popover-foreground: #444;

    --primary: black;
    --primary-foreground: white;

    --secondary: #f1f5f9;
    --secondary-foreground: #444;

    --muted: 210 40% 96.1%;
    --muted-foreground: #888;

    --accent: #f1f5f9;
    --accent-foreground: #444;

    --destructive: #f1f5f9;
    --destructive-foreground: red;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #ccc;

    --radius: 0.5rem;

    --selected: #e2e8f0;
    --scroll-bar: #e2e8f0;
  }

  .dark {
    --background: #000;
    --foreground: #aaa;

    --color-surface: black;
    --color-surface-hover: #3f3f3f;

    --card: #222;
    --card-foreground: #eee;

    --popover: #111;
    --popover-foreground: #eee;

    --primary: white;
    --primary-foreground: black;

    --secondary: #1f1f1f;
    --secondary-foreground: #eee;

    --muted: #333;
    --muted-foreground: #888;

    --accent: #2a2d2e;
    --accent-foreground: #eee;

    --destructive: red;
    --destructive-foreground: white;

    --border: #2b2b2b;
    --input: #333;
    --ring: #444;

    --selected: #222;
    --scroll-bar: #353535;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-bar);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  display: none;
}

/* ------------------------------- */
.cm-table-name {
  color: #e84393;
}

.dark .cm-table-name {
  color: #fd79a8;
}

/* ------------------------------- */

.libsql-window-tab .libsql-window-close {
  visibility: hidden;
}

.libsql-window-tab:hover .libsql-window-close {
  visibility: visible;
}

.libsql-cell {
  line-height: 34px;
  height: 35px;
  border: 1px solid transparent;
}

.libsql-focus {
  border: 1px solid #e00;
}

.dark .libsql-change {
  @apply bg-yellow-500;
}

.libsql-change {
  @apply bg-yellow-200;
}

.libsql-table {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  font-size: 12px;
  user-select: none;
}

.libsql-table table {
  position: absolute;
  display: grid;
  border-collapse: collapse;
  left: 0;
  top: 0;
  box-sizing: border-box;
  table-layout: fixed;
}

.libsql-table tr,
.libsql-table thead,
.libsql-table tbody {
  display: contents;
}

.libsql-table td,
.libsql-table th {
  @apply border-b border-r;
  overflow: hidden;
}

.libsql-table-cell {
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
}

.libsql-table th {
  position: sticky;
  top: 0;
  user-select: none;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.libsql-table th.sticky {
  z-index: 20;
}

.libsql-resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
  background: var(--color-critical);
  opacity: 0;
}

.libsql-resizer:hover {
  opacity: 0.5;
}

.dark .libsql-selected-row td {
  @apply bg-selected;
}

.libsql-selected-row td {
  @apply bg-gray-100;
}

.libsql-new-row td {
  background-color: var(--color-table-row-new);
  color: var(--color-text);
}

.dark .libsql-removed-row td {
  @apply bg-red-800;
}

.libsql-removed-row td {
  @apply bg-red-200;
}

/*
For Markdown Side
*/
.mdx-content {
  @apply leading-7;
}

.mdx-content h1 {
  @apply text-3xl;
}

.mdx-content h2 {
  @apply text-2xl my-4 pb-2 border-b font-bold;
}

.mdx-content h3 {
  @apply text-xl my-4 pb-2 border-b font-bold;
}

.mdx-content ul {
  @apply list-disc pl-8 my-4;
}

.mdx-content ol {
  @apply list-decimal pl-8 my-4;
}

.mdx-content pre {
  @apply bg-gray-200 dark:bg-gray-700 p-4 leading-5 rounded overflow-x-auto m-0;
}

.mdx-content p {
  @apply my-2;
}

.mdx-content a {
  @apply text-blue-500 underline;
}
