@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-table-grid: #eee;
  --color-table-change: #f6e58d;

  --color-table-cell-number: #2980b9;
  --color-table-cell-code: #95a5a6;

  --color-table-row-selected: #e4e6f1;
  --color-table-row-removed: #ff8b81;
  --color-table-row-new: #7bed9f;

  /* For Scroll */
  --color-scrollbar: #0001;
  --color-scrollbar-track: #0001;
  --color-scrollbar-hover: #0005;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --color-surface: #fff;
    --color-surface-hover: #eee;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --color-surface: #1f1f1f;
    --color-surface-hover: #3f3f3f;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 200 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 219 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* ------------------------------- */
.cm-table-name {
  color: #e84393;
}

.dark .cm-table-name {
  color: #fd79a8;
}
/* ------------------------------- */

.libsql-window-tab .libsql-window-close {
  visibility: hidden;
}

.libsql-window-tab:hover .libsql-window-close {
  visibility: visible;
}

.libsql-cell {
  line-height: 34px;
  height: 35px;
  border: 1px solid transparent;
}

.libsql-focus {
  border: 1px solid #e00;
}

.dark .libsql-change {
  @apply bg-yellow-500;
}

.libsql-change {
  @apply bg-yellow-200;
}

.libsql-table {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  font-size: 12px;
  user-select: none;
}

.libsql-table table {
  position: absolute;
  display: grid;
  border-collapse: collapse;
  left: 0;
  top: 0;
  box-sizing: border-box;
  table-layout: fixed;
}

.libsql-table tr,
.libsql-table thead,
.libsql-table tbody {
  display: contents;
}

.libsql-table td,
.libsql-table th {
  @apply border-b border-r;
  overflow: hidden;
}

.libsql-table-cell {
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
}

.libsql-table th {
  position: sticky;
  top: 0;
  user-select: none;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.libsql-resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
  background: var(--color-critical);
  opacity: 0;
}

.libsql-resizer:hover {
  opacity: 0.5;
}

.dark .libsql-selected-row td {
  @apply bg-gray-800;
}

.libsql-selected-row td {
  @apply bg-gray-100;
}

.libsql-new-row td {
  background-color: var(--color-table-row-new);
  color: var(--color-text);
}

.dark .libsql-removed-row td {
  @apply bg-red-800;
}

.libsql-removed-row td {
  @apply bg-red-200;
}

/*
For Markdown Side
*/
.mdx-content {
  @apply leading-7;
}

.mdx-content h1 {
  @apply text-3xl;
}

.mdx-content h2 {
  @apply text-2xl my-4 pb-2 border-b font-bold;
}

.mdx-content h3 {
  @apply text-xl my-4 pb-2 border-b font-bold;
}

.mdx-content ul {
  @apply list-disc pl-8 my-4;
}

.mdx-content ol {
  @apply list-decimal pl-8 my-4;
}

.mdx-content pre {
  @apply bg-gray-100 dark:bg-gray-700 p-4 leading-5 rounded overflow-x-auto;
}

.mdx-content p {
  @apply my-2;
}

.mdx-content a {
  @apply text-blue-500 underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@supports (animation-timeline: view()) {
  .fade-view {
    animation:
      fadeIn ease-in-out both,
      fadeOut ease-in forwards;
    animation-range:
      cover 30% contain 50%,
      contain 90% cover 100%;
    animation-timeline: view();
  }

  .fade-sticky {
    position: sticky;
    bottom: 0;
    background-image: linear-gradient(
      to top,
      var(--background) 40%,
      transparent
    );
  }
}
