.tableContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  font-size: 12px;
  user-select: none;
}

.tableContainer table {
  position: absolute;
  display: grid;
  border-collapse: collapse;
  left: 0;
  top: 0;
  box-sizing: border-box;
  table-layout: fixed;
}

.tableContainer tr,
.tableContainer thead,
.tableContainer tbody {
  display: contents;
}

.tableContainer td,
.tableContainer th {
  @apply border-b border-r;
  overflow: hidden;
}

.tableCellContent {
  overflow: hidden;
  flex-grow: 1;
  white-space: nowrap;
}

.tableContainer th {
  position: sticky;
  top: 0;
  user-select: none;
  padding: 0px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.tableHeaderIcon {
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  cursor: col-resize;
  background: var(--color-critical);
  opacity: 0;
}

.resizer:hover {
  opacity: 0.5;
}

:global(.dark) .selectedRow td {
  @apply bg-gray-800;
}

.selectedRow td {
  @apply bg-gray-100;
}

.newRow td {
  background-color: var(--color-table-row-new);
  color: var(--color-text);
}

:global(.dark) .removedRow td {
  @apply bg-red-800;
}

.removedRow td {
  @apply bg-red-200;
}

.stickyColumn {
  position: sticky;
  left: 0;
  border-right: 5px solid var(--color-table-grid) !important;
  z-index: 1;
}

th.stickyColumn {
  z-index: 20;
}
